{% extends "baseadmin.html.twig" %}
{% block body %}
    <div class="text-center">
        <h2 class="mt-2">Ajouter une playlist</h2>
    </div>
    <div class="col-7">
    {{ include('_admin.playlist.form.html.twig') }}
    </div>
{% endblock %}
